# Visual Studio cache and settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# ASP.NET scaffolding
Generated_Code/

# Logs and database files
*.log
*.ldf
*.mdf

# Publish output
publish/
wwwroot/lib/

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# NuGet packages
*.nupkg
packages/
*.snupkg

# Backup & temp files
*.bak
*.tmp
*.temp
*.swp

# JetBrains Rider
.idea/

# VS Code
.vscode/

# Others
*.db
*.db-shm
*.db-wal
