@{
    ViewBag.Title = "Joshua";
}

<h2>Joshua Rowland</h2>
<p>About me: I am an Non Commisioned Officer in the Ohio Army National Guard and a federal mechanic for the army. I enjoy many outdoor hobbies.</p>

<h3>My different outdoor hobbies</h3>
<ul>
    <li>Hunting</li>
    <li>Fishing</li>
    <li>Hiking</li>
    <li>Shooting Guns</li>
    <li>Working on cars</li>
</ul>
<h3>Video Games I play</h3>
<ul>
    <li>Pokemon</li>
    <li>PoweerWash Simulator</li>
    <li>PGA Tour</li>
    <li>Halo</li>
    <li>Call of Duty</li>
</ul>