
@{
    ViewBag.Title = "Miles";
}
<h2>Miles Cresci</h2>

<p>
    About Me: I am 22 years old and am a Junior in Information Technology - Software Development. I live with my girlfriend and 2 corgis. I currently am a server as part time job while I'm in school. One of my biggest hobbies is playing videogames. I've played a variety of games throughout my life, which are listed below.
</p>

<h3>Video Games I play/played</h3>
<ul>
    <li>Apex Legends</li>
    <li>Bloons TD</li>
    <li>Elden Ring</li>
    <li>Hollow Knight</li>
    <li>Hollow Knight: Silksong</li>
    <li>Minecraft</li>
    <li>Subnautica</li>
    <li>Subnautica: Below Zero</li>
    <li>Super Mario Galaxy</li>
    <li>Super Mario Galaxy 2</li>
    <li>Super Paper Mario</li>
    <li>Sekiro</li>
    <li>Stardew Valley</li>
    <li>Terraria</li>
    <li>The Legend of Zelda: Breath of the Wild</li>
    <li>The Legend of Zelda: Skyward Sword</li>
    <li>The Legend of Zelda: Windwaker</li>
</ul>
