namespace Final_Project_Hobbies.Views.People
namespace Final_Project_Hobbies.Views.People
@{
    ViewBag.Title = "Raymond";
}
<h2>Raymond Ha</h2>
<p>I am a fourth year IT major specializing in Software Development. I like to walk outside when I have free time.</p>

<h3>Things that I like to see on my walk</h3>
<ul>
    <li>Squirrels</li>
    <li>Leaves</li>
    <li>Trees</li>
    <li>Fireworks</li>
    <li>Birds</li>
</ul>

<h3>Foods that I like to eat</h3>

<ul>
    <li>Waffles</li>
    <li>Sushi</li>
    <li>Clam Chowder</li>
    <li>Kimchi</li>
    <li>M&Ms</li>
</ul>
