@{
    ViewData["Title"] = "Park List";
}
<h1>Hiking Trails and Parks</h1>
<p>List of parks we've been to</p>

<ul>
    <li>Miami Whitewater Forest</li>
    <li>Veterans Park</li>
    <li>Kuliga Park</li>
    <li>Delhi Park</li>
    <li>Big Darby Creek</li>
    <li>Little Darby Creek</li>
    <li>Glen Helen</li>
    <li>Yellow Springs</li>
    <li>Olentangy Park</li>
    <li>Cuyahoga Valley National Park</li>
    <li>James A. Garfield National Historic Site</li>
</ul>
