@{
    ViewBag.Title = "Meet the Team";
}
<h2>Meet the Team</h2>
<p>Here are some of the people who share my passion for mechanics:</p>
<ul>
    <li><a asp-action="Joshua">Joshua</a> Mechanic</li>
    <li><a asp-action="Raymond">Raymond</a> — Insert Hobby</li>
    <li><a asp-action="Miles">Miles</a> — Insert Hobby</li>
</ul>
